body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 0;
}

header, footer, #hero {
  background: #1f2937;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

#hero {
  display: flex;
  gap: 32px;
  padding: 64px 15%;
}

#hero-div {
  flex: 1;
}

#hero p {
  color: #efe7eb;
  margin: 4px 0 12px;
}

#hero .img-div {
  display: flex;
  background: #6d747d;
  flex: 1;
  align-items: center;
}

.img-div img {
  flex: 1;
  text-align: center;
}

#info h2 {
  color: #1f2937;
  font-size: 36px;
  text-align: center;
}

#info-container {
  display: flex;
  padding: 0  15%;
  justify-content: center;
  gap: 16px;
  padding-bottom: 64px;
}

.info-item {
  width: 128px;
  height: 128px;
  border: solid #3882f6;
  border-radius: 12px;
  margin: auto;
}

#info p {
  color: #666;
  text-align: center;
  margin: 4px 0 0;
}

#header-logo {
  font-size: 24px;
  font-weight: bold;
}

#quote {
  background: #e5e7eb;
  padding: 64px 15%;
}

#quote blockquote {
  margin: 0;
}

#quote p {
  font-size: 36px;
  font-style: italic;
  margin: 8px 0;
}

#quote figcaption {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  margin: 0;
}

button {
  font-weight: bold;
  padding: 8px 24px;
  border: 0;
  border-radius: 8px;
}

button, #call-to-action-div {
  background: #3882f6;
  color: #f9faf8;
}

#call-to-action {
  display: flex;
  width: auto;
  margin: 0 5%;
}

#call-to-action-div {
  padding: 32px 10%;
  margin: 64px auto;
  border-radius: 8px;
  width: 100%;
  display: flex;
  gap: 8px;
  flex: 0 1 600px;
  justify-content: space-between;
}

#call-to-action h2 {
  margin: 0 0 2px;
  font-size: 20px;
}

#call-to-action p {
  margin: 0;
  font-size: 16px;
}

#call-to-action button {
  border: 2px solid #f9faf8;
  align-self: center;
  flex-shrink: 0;
}

footer {
  padding: 16px;
}

footer p {
  text-align: center;
}